In [151]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [153]:
df = pd.read_csv("data/miuul_gezinomi.csv")

In [155]:
df.shape

(59164, 9)

In [157]:
df.head()

,SaleId,SaleDate,CheckInDate,Price,ConceptName,SaleCityName,CInDay,SaleCheckInDayDiff,Seasons
0,415122,2022-12-03 00:00:00,2022-12-03 00:00:00,79.304029,Herşey Dahil,Antalya,Saturday,0,Low
1,415103,2022-12-03 00:00:00,2022-12-03 00:00:00,45.970696,Yarım Pansiyon,Antalya,Saturday,0,Low
2,404034,2022-09-12 00:00:00,2022-09-13 00:00:00,77.838828,Herşey Dahil,Antalya,Tuesday,1,High
3,415094,2022-12-03 00:00:00,2022-12-10 00:00:00,222.710623,Yarım Pansiyon,İzmir,Saturday,7,Low
4,414951,2022-12-01 00:00:00,2022-12-03 00:00:00,140.476190,Yarım Pansiyon,İzmir,Saturday,2,Low

### GÖREV 1

In [160]:
print("Unique Şehir Sayısı")
print(df["SaleCityName"].value_counts())

Unique Şehir Sayısı
SaleCityName
Antalya    31649
Muğla      10662
Aydın      10646
Diğer       3245
İzmir       2507
Girne        455
Name: count, dtype: int64

In [162]:
print("Unique Concept Sayısı\n")
print(df["ConceptName"].nunique())

Unique Concept Sayısı

3

In [164]:
print("Hangi Concept’den kaçar tane satış gerçekleşmiş?\n")
print(df["ConceptName"].value_counts())

Hangi Concept’den kaçar tane satış gerçekleşmiş?

ConceptName
Herşey Dahil      53186
Yarım Pansiyon     3559
Oda + Kahvaltı     2419
Name: count, dtype: int64

In [166]:
print("Şehirlere göre satışlardan toplam ne kadar kazanılmış?\n")
print(df.groupby("SaleCityName")["Price"].sum().round(2))

Şehirlere göre satışlardan toplam ne kadar kazanılmış?

SaleCityName
Antalya    2041911.10
Aydın       573296.01
Diğer       154572.29
Girne        27065.03
Muğla       665842.21
İzmir       165934.83
Name: Price, dtype: float64

In [168]:
print("Concept türlerine göre göre ne kadar kazanılmış?\n")
print(df.groupby("ConceptName")["Price"].sum().round(2))

Concept türlerine göre göre ne kadar kazanılmış?

ConceptName
Herşey Dahil      3332910.77
Oda + Kahvaltı     121308.35
Yarım Pansiyon     174402.35
Name: Price, dtype: float64

In [170]:
print("Şehirlere göre PRICE ortalamaları nedir?\n")
print(df.groupby("SaleCityName")["Price"].mean())

Şehirlere göre PRICE ortalamaları nedir?

SaleCityName
Antalya    64.521474
Aydın      53.855896
Diğer      47.707497
Girne      59.483579
Muğla      62.461746
İzmir      66.267905
Name: Price, dtype: float64

In [172]:
print("Conceptlere göre PRICE ortalamaları nedir?\n")
print(df.groupby("ConceptName")["Price"].mean())

Conceptlere göre PRICE ortalamaları nedir?

ConceptName
Herşey Dahil      62.672260
Oda + Kahvaltı    50.252010
Yarım Pansiyon    49.030742
Name: Price, dtype: float64

In [174]:
print("Şehir-Concept kırılımındaPRICE ortalamalarınedir?\n")
print(df.groupby(["SaleCityName", "ConceptName"])["Price"].mean())

Şehir-Concept kırılımındaPRICE ortalamalarınedir?

SaleCityName  ConceptName
Antalya       Herşey Dahil      64.519028
              Oda + Kahvaltı    63.504816
              Yarım Pansiyon    67.190613
Aydın         Herşey Dahil      53.995467
              Oda + Kahvaltı    34.458787
              Yarım Pansiyon    30.016543
Diğer         Herşey Dahil      84.771093
              Oda + Kahvaltı    37.599082
              Yarım Pansiyon    42.113440
Girne         Herşey Dahil      97.680970
              Oda + Kahvaltı    39.775536
              Yarım Pansiyon    53.247838
Muğla         Herşey Dahil      63.020053
              Oda + Kahvaltı    59.037763
              Yarım Pansiyon    45.120924
İzmir         Herşey Dahil      74.701519
              Oda + Kahvaltı    41.320342
              Yarım Pansiyon    59.610053
Name: Price, dtype: float64

### GÖREV 2

In [177]:
df.head()

,SaleId,SaleDate,CheckInDate,Price,ConceptName,SaleCityName,CInDay,SaleCheckInDayDiff,Seasons
0,415122,2022-12-03 00:00:00,2022-12-03 00:00:00,79.304029,Herşey Dahil,Antalya,Saturday,0,Low
1,415103,2022-12-03 00:00:00,2022-12-03 00:00:00,45.970696,Yarım Pansiyon,Antalya,Saturday,0,Low
2,404034,2022-09-12 00:00:00,2022-09-13 00:00:00,77.838828,Herşey Dahil,Antalya,Tuesday,1,High
3,415094,2022-12-03 00:00:00,2022-12-10 00:00:00,222.710623,Yarım Pansiyon,İzmir,Saturday,7,Low
4,414951,2022-12-01 00:00:00,2022-12-03 00:00:00,140.476190,Yarım Pansiyon,İzmir,Saturday,2,Low

In [179]:
def categorical_day_diff(diff):
    if diff <= 7:
        return "Last Minuters"
    elif diff <= 30:
        return "Potential Planners"
    elif diff <= 90:
        return "Planners"
    else:
        return "Early Bookers"

df["EB_Score"] = df["SaleCheckInDayDiff"].apply(categorical_day_diff)

In [181]:
df["EB_Score"].value_counts()

EB_Score
Last Minuters         26564
Potential Planners    16621
Planners               9184
Early Bookers          6795
Name: count, dtype: int64

### GÖREV 3

In [184]:
df.head()

,SaleId,SaleDate,CheckInDate,Price,ConceptName,SaleCityName,CInDay,SaleCheckInDayDiff,Seasons,EB_Score
0,415122,2022-12-03 00:00:00,2022-12-03 00:00:00,79.304029,Herşey Dahil,Antalya,Saturday,0,Low,Last Minuters
1,415103,2022-12-03 00:00:00,2022-12-03 00:00:00,45.970696,Yarım Pansiyon,Antalya,Saturday,0,Low,Last Minuters
2,404034,2022-09-12 00:00:00,2022-09-13 00:00:00,77.838828,Herşey Dahil,Antalya,Tuesday,1,High,Last Minuters
3,415094,2022-12-03 00:00:00,2022-12-10 00:00:00,222.710623,Yarım Pansiyon,İzmir,Saturday,7,Low,Last Minuters
4,414951,2022-12-01 00:00:00,2022-12-03 00:00:00,140.476190,Yarım Pansiyon,İzmir,Saturday,2,Low,Last Minuters

In [186]:
df_3 = df.groupby(["SaleCityName", "ConceptName", "EB_Score"])["Price"].agg(["mean", "count"])

In [188]:
df_3

                                                     mean  count
SaleCityName ConceptName    EB_Score
Antalya      Herşey Dahil   Early Bookers       66.494885   3281
                            Last Minuters       62.752916  14148
                            Planners            67.879960   4490
                            Potential Planners  64.903700   8874
             Oda + Kahvaltı Early Bookers       35.002594      5
...                                                   ...    ...
İzmir        Oda + Kahvaltı Potential Planners  36.807772     41
             Yarım Pansiyon Early Bookers       65.905583     14
                            Last Minuters       57.788126    636
                            Planners            60.507887     47
                            Potential Planners  64.804043    198

[72 rows x 2 columns]

### GÖREV 4

In [233]:
agg_df = df.groupby(["SaleCityName", "ConceptName", "Seasons"])["Price"].mean().reset_index()

In [235]:
agg_df = agg_df.sort_values(by="Price", ascending=False).reset_index(drop=True)

In [237]:
agg_df.head()

  SaleCityName     ConceptName Seasons       Price
0        Girne    Herşey Dahil    High  103.935448
1        Girne    Herşey Dahil     Low   90.935944
2        İzmir  Yarım Pansiyon    High   87.657303
3        Diğer    Herşey Dahil     Low   87.310882
4        Diğer    Herşey Dahil    High   83.787273

### GÖREV 5

In [241]:
agg_df.columns = ["SaleCityName", "ConceptName", "Seasons", "Price"]
agg_df.head()

  SaleCityName     ConceptName Seasons       Price
0        Girne    Herşey Dahil    High  103.935448
1        Girne    Herşey Dahil     Low   90.935944
2        İzmir  Yarım Pansiyon    High   87.657303
3        Diğer    Herşey Dahil     Low   87.310882
4        Diğer    Herşey Dahil    High   83.787273

### GÖREV 6

In [246]:
agg_df["saled_level_based"] = agg_df["SaleCityName"].str.upper() +"_"+\
                              agg_df["ConceptName"].str.upper() +"_"+\
                              agg_df["Seasons"].str.upper()

In [252]:
agg_df.head()

  SaleCityName     ConceptName Seasons       Price          saled_level_based
0        Girne    Herşey Dahil    High  103.935448    GIRNE_HERŞEY DAHIL_HIGH
1        Girne    Herşey Dahil     Low   90.935944     GIRNE_HERŞEY DAHIL_LOW
2        İzmir  Yarım Pansiyon    High   87.657303  İZMIR_YARIM PANSIYON_HIGH
3        Diğer    Herşey Dahil     Low   87.310882     DIĞER_HERŞEY DAHIL_LOW
4        Diğer    Herşey Dahil    High   83.787273    DIĞER_HERŞEY DAHIL_HIGH

In [254]:
agg_df["SEGMENT"] = pd.qcut(agg_df["Price"], 4, labels=["D", "C", "B", "A"])

In [258]:
agg_df.groupby("SEGMENT", observed=True)["Price"].agg(["mean", "max", "sum"])

              mean         max         sum
SEGMENT
D        33.366288   39.479630  300.296592
C        44.887654   54.141797  403.988887
B        60.274498   64.920065  542.470478
A        82.467833  103.935448  742.210498

### GÖREV 8

In [261]:
new_customer1 = agg_df[(agg_df["SaleCityName"] == "Antalya") &
                       (agg_df["ConceptName"] == "Herşey Dahil") &
                       (agg_df["Seasons"] == "High")]

In [291]:
new_user1 = "ANTALYA_HERŞEY DAHIL_HIGH"
agg_df[agg_df["saled_level_based"] == new_user1]

,SaleCityName,ConceptName,Seasons,Price,saled_level_based,SEGMENT
9,Antalya,Herşey Dahil,High,64.920065,ANTALYA_HERŞEY DAHIL_HIGH,B

In [279]:
new_customer1

,SaleCityName,ConceptName,Seasons,Price,saled_level_based,SEGMENT
9,Antalya,Herşey Dahil,High,64.920065,ANTALYA_HERŞEY DAHIL_HIGH,B

In [275]:
new_customer1[["Price"]]

       Price
9  64.920065

In [269]:
new_customer2 = agg_df[(agg_df["SaleCityName"] == "Girne") &
                       (agg_df["ConceptName"] == "Yarım Pansiyon") & 
                       (agg_df["Seasons"] == "Low")]

In [293]:
new_user2 = "GIRNE_YARIM PANSIYON_LOW"
agg_df[agg_df["saled_level_based"] == new_user2]

,SaleCityName,ConceptName,Seasons,Price,saled_level_based,SEGMENT
19,Girne,Yarım Pansiyon,Low,48.578903,GIRNE_YARIM PANSIYON_LOW,C

In [281]:
new_customer2

,SaleCityName,ConceptName,Seasons,Price,saled_level_based,SEGMENT
19,Girne,Yarım Pansiyon,Low,48.578903,GIRNE_YARIM PANSIYON_LOW,C

In [277]:
new_customer2[["SEGMENT"]]

   SEGMENT
19       C